body {
    background-color: #B2EBF2;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
label {
    font-size: 12px;
    display: block;
    padding: 25px 0 5px;
}

input {
    padding: 5px 0;
}
/** -- wrapper -- **/
.wrapper {
    background-color: #0097A7;
    margin: 25px auto;
    padding: 25px;
    border-radius: 12px;
    width: 80%;
    width: calc(480px - 50vw);
    min-width: 50%;
}
.wrapper h1 {
    text-align: center;
}
.input-form {
    margin: 0 25px;
}
.name-input {
    width: 75%;
    width: calc(100% - 83px);
}
.name-list {
    margin-top: 25px;
}
.name-list li{
    padding: 10px;
    border-bottom: 1px solid #BDBDBD;
}
.name-list li:last-child {
    border-bottom: none;
}
/** -- buttons -- **/
.name-button, .remove-btn, .send-btn, .submit-button {
    padding: 5px;
    font-weight: 600;
    color: #757575;
}
.remove-btn {
    visibility: hidden;
    position: relative;
    top: -7.5px;
    float: right;
}
.name-list li:hover .remove-btn {
    visibility: visible;
}
.send-btn {
    display: block;
    margin: auto;
}
.close {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    box-shadow: 0 0 5px #212121;
    text-align: center;
    background-color: #0097A7;
    color: #212121;

}
.close:hover {
    background-color: #8BC34A;
    box-shadow: inset 0 0 5px #00BCD4;
    color: #00BCD4;
}
.submit-button {
    margin-top: 25px;
}
/** -- modal -- **/
.modal-overlay {
    background-color: #212121;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.modal-overlay.modal-open:hover {
    opacity: .65;
}
.pop-up-modal {
    margin: auto;
    width: 0%;
    background-color: #00BCD4;
    box-shadow: 0 0 10px #B2EBF2;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    overflow: hidden;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease ;
    -o-transition: all 1s ease ;
    transition: all 1s ease ;
}
.modal-overlay.modal-open{
    opacity: .85;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out ;
    -o-transition: opacity 1s ease-in-out ;
    transition: opacity 1s ease-in-out ;
}
.pop-up-modal.modal-open {
    padding: 50px 0;
    opacity: 1;
    top: 50%;
    width: 60%;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.email-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;

}
.email-message {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 3px;
}

/** -- drag&drop -- **/
[draggable] {
    cursor: move;
}
.dragged {
    opacity: 0.5;
    background: #00BCD4;
}
.over {
    background: #8BC34A;
    -webkit-box-shadow: inset 1px 1px 2px #B2EBF2;
    -moz-box-shadow: inset 1px 1px 2px #B2EBF2;
    box-shadow: inset 1px 1px 2px #B2EBF2;
}

/** -- focused fields -- **/
.name-input:focus, .name-button:focus, .send-btn:focus, .remove-btn:focus, .email-input:focus, .email-message:focus, 
.submit-button:focus {
    -webkit-box-shadow: inset 1px 1px 5px #8BC34A;
    -moz-box-shadow: inset 1px 1px 5px #8BC34A;
    box-shadow: inset 1px 1px 5px #8BC34A;
    border-color: transparent;
    border-radius: 3px;
}
.name-input:focus, .email-input:focus, .email-message:focus {
    color: #212121;
}