body {
    background-color: #456789;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
label {
    font-size: 12px;
    color: #000123;
    display: block;
    padding: 25px 0 5px;
}

input {
    padding: 5px 0;
}
/** -- wrapper -- **/
.wrapper {
    background-color: #234567;
    margin: 25px auto;
    padding: 25px;
    border: 1px solid #123456;
    border-radius: 12px;
    width: 80%;
}
.wrapper h1 {
    text-align: center;
}
.input-form {
    margin: 0 25px;
}
#name-input {
    width: 75%;
    width: calc(100% - 83px);
}
.name-list {
    margin-top: 25px;
}
.name-list li{
    padding: 10px;
    border-bottom: 1px solid #6789ab;
}
.name-list li:last-child {
    border-bottom: none;
}
/** -- buttons -- **/
.name-button, .remove-btn, .send-btn, .submit-button {
    padding: 5px;
    font-weight: 600;
}
.remove-btn {
    display: none;
}
.name-list li:hover .remove-btn {
    display: inline-block;
    position: relative;
    top: -7.5px;
    float: right;
}
.send-btn {
    display: block;
    margin: auto;
}
.submit-button {
    margin-top: 25px;
}
/** -- modal -- **/
.modal-overlay {
    background-color: rgb(10, 10, 10);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.modal-overlay.modal-open:hover {
    opacity: .55;
}
.pop-up-modal {
    margin: auto;
    width: 60%;
    background-color: #6789ab;
    box-shadow: 0 0 10px #56789a;
    z-index: 3;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    overflow: hidden;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease ;
    -o-transition: all 2s ease ;
    transition: all 2s ease ;
}
.close {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    box-shadow: 0 0 5px #012345;
    text-align: center;
    background-color: #123456;
    color: #001234;

}
.close:hover {
    background-color: #012345;
    box-shadow: inset 0 0 5px #234567;
    color: #6789ab;
}
.modal-overlay.modal-open{
    opacity: .75;

    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out ;
    -o-transition: opacity 1.5s ease-in-out ;
    transition: opacity 1.5s ease-in-out ;
}
.pop-up-modal.modal-open {
    height: auto;
    padding: 50px 0;
    opacity: 1;
    top: 50%;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.email-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;

}
.email-input {

}
.email-message {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 2px;
}

/** -- drag&drop -- **/
[draggable] {
    cursor: move;
}
.dragged {
    opacity: 0.5;
    background: #123456;
}
.over {
    background: #345678;
    -webkit-box-shadow: inset 1px 1px 2px #6789ab;
    -moz-box-shadow: inset 1px 1px 2px #6789ab;
    box-shadow: inset 1px 1px 2px #6789ab;
}